HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


POSTGRES_DB=pnc_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=tu_password_seguro
DATABASE_URL=jdbc:postgresql://db:5432/pnc_db
JWT_SECRET=PEGA_AQUÍ_EL_MISMO_BASE64
SPRING_PROFILES_ACTIVE=prod